// ---------------------------------------------------------------------------------
// REQUIRED PREAMBLE
// ---------------------------------------------------------------------------------
const { APIModule, APIMethod, apiUtils, db, config } = require('../md_api_server/APIServer.js');
var apiModule = new APIModule();

// ---------------------------------------------------------------------------------
// API-METHODS
// ---------------------------------------------------------------------------------
apiModule.addMethod(new APIMethod({
    url : '/',
    parameters : [],
    requireSession : true,
    requireNoSession : false,
    requiredPermissions : [],
    transaction : true,
    handler : async ({ parms, session }) => {
        
    }
}));

// ---------------------------------------------------------------------------------
// HELPER FUNCTIONS
// ---------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------
// EXPORT
// ---------------------------------------------------------------------------------
module.exports = apiModule;